@import "tailwindcss";

@theme inline {
  --color-primary: #000666;
  --color-primary-container: #1a237e;
  --color-secondary: #964900;
  --color-secondary-container: #fc820c;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #8690ee;
  --color-on-secondary: #ffffff;
  --color-on-surface: #071e27;
  --color-on-surface-variant: #454652;
  --color-on-background: #071e27;
  --color-surface: #f3faff;
  --color-surface-container: #dbf1fe;
  --color-surface-container-high: #d5ecf8;
  --color-surface-variant: #cfe6f2;
  --color-background: #f3faff;
  --color-foreground: #071e27;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-outline: #767683;
  --color-outline-variant: #c6c5d4;
  --font-family-sans: "Inter", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "Inter", sans-serif;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
